---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import ProjectCard from "../components/ProjectCard.astro";
import ProductCard from "../components/ProductCard.astro";
import TechnologyCard from "../components/TechnologyCard.astro";

const techs = [
    { name: "HTML", hoverColor: "hover:border-[#df8946] hover:text-[#df8946]" },
    { name: "CSS", hoverColor: "hover:border-[#4693df] hover:text-[#4693df]" },
    {
        name: "JavaScript",
        hoverColor: "hover:border-[#ffda37] hover:text-[#ffda37]",
    },
    {
        name: "Tailwind",
        hoverColor: "hover:border-[#46dfda] hover:text-[#46dfda]",
    },
    {
        name: "Python",
        hoverColor: "hover:border-[#4671df] hover:text-[#4671df]",
    },
    {
        name: "Godot Engine",
        hoverColor: "hover:border-[#30639c] hover:text-[#30639c]",
    },
    { name: "Git", hoverColor: "hover:border-[#9c4630] hover:text-[#9c4630]" },
];
---

<Layout title="Álvaro González - Programador">
    <main class="effect-background">
        <section class="pt-[40vh] mb-40">
            <div>
                <h1 class="text-6xl text-center font-semibold gradient-text">
                    Alvaro González
                </h1>
                <h2 class="text-center mt-4 text-lg text-[#abafb4] font-400]">
                    Estudiante y programador freelance.
                </h2>
            </div>
            <div class="mt-10 flex justify-center gap-8">
                <a
                    href="#productos"
                    class="px-6 font-semibold text-black rounded-[100px] bg-white hover:bg-[#eeeeee] transition-all flex items-center"
                >
                    Productos
                    <span class="text-[#70757E] -mr-2">
                        <svg
                            fill="none"
                            height="24"
                            viewBox="0 0 24 24"
                            width="24"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M10.75 8.75L14.25 12L10.75 15.25"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="1.5"
                            />
                        </svg>
                    </span>
                </a>
                <a
                    href="#proyectos"
                    class="px-6 py-2 font-semibold text-[#abafb4] border-2 rounded-[100px] border-transparent hover:bg-[#1f2225] transition-all flex items-center"
                >
                    Proyectos
                    <span class="text-[#70757E] -mr-2">
                        <svg
                            fill="none"
                            height="24"
                            viewBox="0 0 24 24"
                            width="24"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M10.75 8.75L14.25 12L10.75 15.25"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="1.5"
                            />
                        </svg>
                    </span>
                </a>
            </div>
        </section>

        <section id="productos" class="pt-52 mb-40 pb-52">
            <p class="flex justify-center text-5xl font-semibold leading-[1.5] gradient-text text-center">
                Productos digitales
            </p>
            <div class="flex flex-wrap justify-center gap-6 mx-[20%] mt-6">
                <ProductCard
                    image={{
                        src: "/images/vibe-editor.png",
                        alt: "Vibe Editor",
                    }}
                    title="Vibe Editor"
                    description="Creador de TikToks/Reels 100% automático que usa la API de OpenAI para guenerar guiones, escribir subtítulos y Text-to-Speech. 3 modos a elegir y diferentes estilos de vídeo."
                    price="15"
                />
                <ProductCard
                    image={{
                        src: "/images/ultimate-gpt-writer.png",
                        alt: "Vibe Writer",
                    }}
                    title="Vibe Writer"
                    description="Creador de artículos SEO automático (+2000 palabras cada uno) que usa la API de OpenAI."
                    price="12"
                />
            </div>
        </section>

        <section id="proyectos">
            <p class="flex justify-center text-5xl font-semibold leading-[1.5] gradient-text">
                Proyectos
            </p>
            <div class="flex flex-wrap justify-center gap-6 mx-[20%] mt-6">
                <ProjectCard
                    image={{
                        src: "/images/elestudio-2.png",
                        alt: "El Estudio",
                    }}
                    title="El Estudio"
                    description="Aplicación web para subir canciones privadas, con autenticación avanzada, gestión de canciones, álbumes, descripciones detalladas de autores y modo karaoke."
                />
                <ProjectCard
                    image={{
                        src: "/images/ambientcg-downloader.png",
                        alt: "AmbientCG downloader",
                    }}
                    title="ambientCG Downloader"
                    description="Automatización para descargar todas las texturas de AmbientCG. Código abierto y personalizable mediante YAML."
                />
                <ProjectCard
                    image={{
                        src: "/images/entresemillas-1.png",
                        alt: "entresemillas Web Scraper",
                    }}
                    title="entresemillas.com Web Scraper"
                    description="Web scraper para entresemillas.com que descarga productos y los sube a un WordPress personalizado, modificando precio y otras características."
                />
                <ProjectCard
                    image={{
                        src: "/images/godot-asset-collection.png",
                        alt: "Godot Asset Collection",
                    }}
                    title="Godot Asset Collection"
                    description="Colección de controladores y sistemas listos para usar para desarrollo de videojuegos en el motor Godot Engine."
                />
            </div>
        </section>

        <section class="pt-52 px-4 sm:px-12 md:px-[10%] lg:px-[15%] xl:px-[20%]">
            <p class="mt-40 flex justify-center text-5xl font-semibold leading-[1.5] gradient-text">
                Tecnologías
            </p>
            <div class="flex justify-center mt-6 flex-wrap gap-6">
                {
                    techs.map((tech) => (
                        <TechnologyCard
                            name={tech.name}
                            hoverColor={tech.hoverColor}
                        />
                    ))
                }
            </div>
        </section>

        <span class="ball"></span>
        <span class="ball"></span>
        <span class="ball"></span>
        <span class="ball"></span>
        <span class="ball"></span>
        <span class="ball"></span>

        <footer class="text-center mt-52 py-6">
            <p>Desarrollado por Alvaro González</p>
        </footer>
    </main>

    <style>
        *, html {
            scroll-behavior: smooth !important;
        }

        .gradient-text {
            background: linear-gradient(to top, #999999 0%, #ffffff 20%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        @keyframes move {
            100% {
                transform: translate3d(0, 0, 1px) rotate(360deg);
            }
        }

        .effect-background {
            position: fixed;
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            overflow-x: hidden;
        }

        .ball {
            z-index: -1;
            position: absolute;
            width: 20vmin;
            height: 20vmin;
            border-radius: 50%;
            backface-visibility: hidden;
            animation: move linear infinite;
        }

        .ball:nth-child(1) {
            color: #633057;
            top: 77%;
            left: 88%;
            animation-duration: 40s;
            animation-delay: -3s;
            transform-origin: 16vw -2vh;
            box-shadow: 40vmin 0 5.703076368487546vmin currentColor;
        }
        .ball:nth-child(2) {
            color: #22755e;
            top: 42%;
            left: 2%;
            animation-duration: 53s;
            animation-delay: -29s;
            transform-origin: -19vw 21vh;
            box-shadow: -40vmin 0 5.17594621519026vmin currentColor;
        }
        .ball:nth-child(3) {
            color: #795f1e;
            top: 28%;
            left: 18%;
            animation-duration: 49s;
            animation-delay: -8s;
            transform-origin: -22vw 3vh;
            box-shadow: 40vmin 0 5.248179047256236vmin currentColor;
        }
        .ball:nth-child(4) {
            color: #71433e;
            top: 50%;
            left: 79%;
            animation-duration: 26s;
            animation-delay: -21s;
            transform-origin: -17vw -6vh;
            box-shadow: 40vmin 0 5.279749632220298vmin currentColor;
        }
        .ball:nth-child(5) {
            color: #4f1779;
            top: 46%;
            left: 15%;
            animation-duration: 36s;
            animation-delay: -40s;
            transform-origin: 4vw 0vh;
            box-shadow: -40vmin 0 5.964309466052033vmin currentColor;
        }
        .ball:nth-child(6) {
            color: #596836;
            top: 77%;
            left: 16%;
            animation-duration: 31s;
            animation-delay: -10s;
            transform-origin: 18vw 4vh;
            box-shadow: 40vmin 0 5.178483653434181vmin currentColor;
        }
    </style>
</Layout>
