---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Icon from "../components/Icon.astro";
---

<Layout title="alvgonzx - Indie developer">
    <main class="mx-[15%] mt-[128px]">
        <section
            class="flex flex-col xl:flex-row xl:justify-between items-center xl:text-left text-center"
        >
            <div>
                <h1
                    class="text-4xl sm:text-6xl md:text-7xl font-horizon text-shadow-red"
                >
                    alvgonzx
                </h1>
                <h2 class="sm:text-[18px]">
                    indie developer who is passionate about open source software
                </h2>
            </div>
            <img src="images/alvgonzx.gif" alt="alvgonzx" class="w-[200px]" />
        </section>
        <section class="mt-[200px] xl:mt-[356px]">
            <Title color="blue">projects</Title>
            <div class="mt-5 flex flex-col md:flex-row md:items-start items-center md:justify-start gap-16">
                <ProjectCard
                    imgSrc="images/godot-asset-collection.png"
                    imgAlt="Godot 4 assets"
                    title="Godot asset collection"
                    description="Collection of assets for creating FPS controllers using Godot 4. The collection is open source and available on GitHub."
                    url="https://github.com/alvgonzx/Godot-Prototyping-FPS-Controller"
                />
                <ProjectCard
                    imgSrc="images/aftx.png"
                    imgAlt="aftx formatted text system"
                    title="aftx"
                    description="alvgonzx’s formatted text is a simple and minimalist formatted text system inspired by Markdown and LaTeX."
                    url="https://github.com/alvgonzx/aftx"
                />
            </div>
        </section>
        <section class="mt-[128px]">
            <Title color="orange">TECH</Title>
            <div class="mt-5 flex justify-center md:justify-start items-center flex-wrap gap-8">
                <Icon imgSrc="images/html.png" imgAlt="HTML logo" />
                <Icon imgSrc="images/css.png" imgAlt="CSS logo" />
                <Icon imgSrc="images/js.png" imgAlt="JS logo" />
                <Icon imgSrc="images/tailwind.png" imgAlt="Tailwind logo" />
                <Icon imgSrc="images/astro.png" imgAlt="Astro logo" />
                <Icon imgSrc="images/nodejs.png" imgAlt="NodeJS logo" />
                <Icon imgSrc="images/python.png" imgAlt="Python logo" />
                <Icon imgSrc="images/godot.png" imgAlt="Godot logo" />
                <Icon imgSrc="images/git.png" imgAlt="Git logo" />
            </div>
        </section>
        <section class="mt-[128px]">
            <Title color="pink">about me</Title>
            <div
                class="flex flex-col md:flex-row bg-[#242424] mt-5 p-8 rounded-3xl gap-8 items-center"
            >
                <img
                    src="images/alvgonzx-right.png"
                    alt="alvgonzx software developer"
                    class="w-[115px]"
                />
                <div>
                    <p class="text-xl font-semibold">Who am I?</p>
                    <p class="text-[#16px] mt-1 text-[#DADADA]">
                        My name is Alvaro and I am a software engineering
                        student passionate about programming since I was 12
                        years old. I started programming Discord bots as a
                        hobby, then I learned some web development and began
                        working on larger projects that solidified my knowledge.
                    </p>
                    <p class="text-xl mt-6 font-semibold">
                        What am I doing now?
                    </p>
                    <p class="text-[#16px] mt-1 text-[#DADADA]">
                        Currently, I am focusing on learning new technologies
                        and continuing my education until I finish my studies. I
                        am seeking to contribute to open-source projects
                        although I am open to small freelance jobs as well.
                    </p>
                </div>
            </div>
        </section>
        <footer>
            <h1 class="text-xl font-horizon text-shadow-green text-center mt-[128px] mb-5">
                built by alvgonzx
            </h1>
        </footer>
    </main>
</Layout>

<style is:global>
    @import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
    @font-face {
        font-family: "Horizon";
        src: url("/fonts/horizon.otf") format("otf");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    .text-shadow-red {
        text-shadow: -3px -3px #b74f6f;
    }

    .text-shadow-blue {
        text-shadow: -2px -2px #3185fc;
    }

    .text-shadow-orange {
        text-shadow: -2px -2px #d08c3c;
    }

    .text-shadow-green {
        text-shadow: -1px -1px #539e43;
    }

    .text-shadow-green {
        text-shadow: -2px -2px #539e43;
    }

    .text-shadow-pink {
        text-shadow: -2px -2px #A944BA;
    }

    
    @media screen and (max-width: 640px) {
        .text-shadow-red {
            text-shadow: -2px -2px #b74f6f;
        }
    }
</style>
