---
import Layout from "../layouts/Layout.astro";
---

<Layout title="alvgonzx - Indie developer">
    <main>
        <section>
            <h1 class="text-white text-6xl font-horizon">alvgonzx</h1>
            <h2 class="text-white">
                indie developer who is passionate about open source software
            </h2>
        </section>
    </main>
</Layout>

<style is:global>
    @import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
    @font-face {
        font-family: "Horizon";
        src: url("/fonts/horizon.otf") format("otf");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
</style>
