---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Icon from "../components/Icon.astro";
---

<Layout title="Álvaro González - Programador">
    <main class="mx-[12%] mt-[128px]">
        <section
            class="flex flex-col xl:flex-row xl:justify-between items-center xl:text-left text-center"
        >
            <div>
                <h1
                    class="text-4xl sm:text-6xl md:text-7xl font-horizon text-shadow-red"
                >
                    alvaro gonzález
                </h1>
                <h2 class="sm:text-[18px] mt-[8px]">
                    Estudiante de ingeniería informática y programador
                    freelance.
                </h2>
            </div>
            <img
                src="/images/alvarognnzz.png"
                alt="alvarognnzz"
                class="rounded-3xl mt-10 sm:mt-0 w-[400px]"
            />
        </section>
        <section class="mt-[200px] xl:mt-[356px]">
            <Title color="blue">proyectos</Title>
            <div
                class="mt-5 flex flex-wrap justify-center md:justify-start gap-12"
            >
                <ProjectCard
                    images={[
                        {
                            src: "/images/elestudio-1.png",
                            alt: "El Estudio",
                        },
                        {
                            src: "/images/elestudio-2.png",
                            alt: "El Estudio",
                        },
                        {
                            src: "/images/elestudio-3.png",
                            alt: "El Estudio",
                        },
                    ]}
                    title="El Estudio"
                    description="Aplicación web para subir canciones privadas, con autenticación avanzada, gestión de canciones, álbumes y descripciones detalladas de autores."
                />

                <ProjectCard
                    images={[
                        {
                            src: "/images/ambientcg-downloader.png",
                            alt: "AmbientCG Downloader",
                        },
                    ]}
                    title="ambientCG Downloader"
                    description="Automatización para descargar todas las texturas de AmbientCG. Código abierto y personalizable mediante YAML."
                />

                <ProjectCard
                    images={[
                        {
                            src: "/images/entresemillas-1.png",
                            alt: "Entresemillas 1",
                        },
                        {
                            src: "/images/entresemillas-2.png",
                            alt: "Entresemillas 1",
                        }
                    ]}
                    title="entresemillas.com Web Scraper"
                    description="Web scraper para entresemillas.com que descarga productos y los sube a un WordPress personalizado, modificando precio y otras características."
                />

                <ProjectCard
                    images={[
                        {
                            src: "/images/ultimate-gpt-writer.png",
                            alt: "Ultimate GPT Writer",
                        },
                    ]}
                    title="Ultimate GPT Writer"
                    description="Generador automático de artículos de más de 2000 palabras usando la API de OpenAI. Resultado final con calidad humana e IA casi indetectable."
                />
            </div>
        </section>
        <section class="mt-[128px]">
            <Title color="orange">tecnologías</Title>
            <div
                class="mt-5 flex justify-center md:justify-start items-center flex-wrap gap-8"
            >
                <Icon imgSrc="/images/html.png" imgAlt="HTML logo" />
                <Icon imgSrc="/images/css.png" imgAlt="CSS logo" />
                <Icon imgSrc="/images/js.png" imgAlt="JS logo" />
                <Icon imgSrc="/images/tailwind.png" imgAlt="Tailwind logo" />
                <Icon imgSrc="/images/astro.png" imgAlt="Astro logo" />
                <Icon imgSrc="/images/nodejs.png" imgAlt="NodeJS logo" />
                <Icon imgSrc="/images/python.png" imgAlt="Python logo" />
                <Icon imgSrc="/images/godot.png" imgAlt="Godot logo" />
                <Icon imgSrc="/images/git.png" imgAlt="Git logo" />
            </div>
        </section>
        <footer>
            <h1
                class="text-xl font-horizon text-shadow-green text-center mt-[128px] mb-5"
            >
                desarrollado por álvaro gonzález
            </h1>
        </footer>
    </main>
</Layout>

<style is:global>
    @import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
    @font-face {
        font-family: "Horizon";
        src: url("/fonts/horizon.otf") format("otf");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    .text-shadow-red {
        text-shadow: -3px -3px #b74f6f;
    }

    .text-shadow-blue {
        text-shadow: -2px -2px #3185fc;
    }

    .text-shadow-orange {
        text-shadow: -2px -2px #d08c3c;
    }

    .text-shadow-green {
        text-shadow: -2px -2px #539e43;
    }

    .text-shadow-pink {
        text-shadow: -2px -2px #a944ba;
    }

    @media screen and (max-width: 640px) {
        .text-shadow-red {
            text-shadow: -2px -2px #b74f6f;
        }
    }
</style>
